version: '3.8'
services:
  db:
    image: postgres:13
    container_name: postgres_db
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
 
 
  backend:
    image: mohamedeg/backendlanding
    container_name: backend
    depends_on:
      - db
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./static_backend:/app/static
      - ./static_media:/app/media
 

  frontend:
    image: mohamedeg/frontendedlanding
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
 
 