.logout-float-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #ef4444;
    /* لون أحمر */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    /* زر دائري */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-float-btn:hover {
    background-color: #dc2626;
}